<launch>
  <arg name="initial_pose_x" default="0"/>
  <arg name="initial_pose_y" default="0"/>
  <arg name="initial_pose_yaw" default="0"/>
  <!-- Navigation requires at least one map.
       In addition, it is sometimes desirable to have a "keepout" map
       which is used for costmaps, but not localization -->
  <arg name="map_file" default=""/>
  <arg name="map_keepout_file" default="" />
  <arg name="use_keepout" default="false" />
  <arg name="use_fake_localization" default="false" />


  <!-- serve up a map -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" required="true" />

  <!-- serve up a map with keepout zones -->
  <group if="$(arg use_keepout)" >
    <node name="map_keepout_server" pkg="map_server" type="map_server" args="$(arg map_keepout_file)" >
      <remap from="map" to="map_keepout" />
      <remap from="static_map" to="static_map_keepout" />
    </node>
  </group>

  <!-- localize the robot -->
  <group if="$(arg use_fake_localization)">
    <node name="fake_localization" pkg="fake_localization" type="fake_localization">
      <remap from="base_pose_ground_truth" to="ground_truth"/>
    </node>
  </group>
  <group unless="$(arg use_fake_localization)">
      <include file="$(find hcrl_gazebo)/launch/stretch_amcl.launch">
          <arg name="use_map_topic" value="true" />
          <arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
          <arg name="initial_pose_y" value="$(arg initial_pose_y)"/>
          <arg name="initial_pose_yaw" value="$(arg initial_pose_yaw)"/>
        </include>
  </group>

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find stretch_navigation)/config/common_costmap_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find stretch_navigation)/config/common_costmap_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find stretch_navigation)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find stretch_navigation)/config/global_costmap_params_withmap.yaml" command="load" />
    <rosparam file="$(find stretch_navigation)/config/move_base.yaml" command="load" />
    <remap from="/cmd_vel" to="/stretch/cmd_vel" />
  </node>

</launch>

